body {
    background-color: #2e2e2e;
    /*    background-color: #FFFAD5;*/
}

a {
    color: inherit;
    text-decoration: none;
}

/*-------COMIC PARENT TABLE --------*/

.mainContainer {
    width: 100%;
    height: 100%;
}

.comicContainer {
    margin-left: 15%;
    margin-right: auto;
    height: 550px;
    /*    width: 70%;*/
    /*    border: 1px solid black;*/
    position: relative;
    margin-top: 150px;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    border: 5px solid black;
}

.panel {
    float: left;
    height: 550px;
    width: 380px;
    background-size: 400px 550px;
    display: inline-block;
}

.middle p {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #FFF;
    margin: 10px auto;
    text-shadow: 2px 3px 0px 0px rgba(33, 28, 28, 0.75);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4)

}
/* BACKGROUNDS */


.panel.cloudsOne {
    background-image: url('../imgs/june_strips/charlie-cloud-a.jpg');

}

.panel.cloudsTwo {
    background-image: url('../imgs/june_strips/charlie-cloud-b.jpg');   
}

.panel.cloudsThree {
    background-image: url('../imgs/june_strips/charlie-cloud-c.jpg')   
}

.panel.sunsetOne {
    background-image: url('../imgs/june_strips/june-2-1a.jpg')
}

.panel.sunsetTwo {
    background-image: url('../imgs/june_strips/june-2-1b.jpg')
}

.panel.sunsetThree {
    background-image: url('../imgs/june_strips/june-2-1c.jpg')
}

.panel.satFieldOne {
    background-image: url('../imgs/june_strips/june-reverse-satfield-a.jpg');
}

.panel.satFieldTwo {
    background-image: url('../imgs/june_strips/june-reverse-satfield-b.jpg');
}

.panel.satFieldThree {
    background-image: url('../imgs/june_strips/june-reverse-satfield-c.jpg');
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
    .comicContainer {
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .panel {
        height: auto;
        min-height: 400px;
        width: 100%;
        background-size: cover; 
        margin-bottom: 10px;
    }

    .middle { height: 400px;}

    .middle p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .comicContainer {
        width: 1200px;
    }
}

@media only screen and (max-height: 700px) {
    .comicContainer {
        margin-top: 20px;
        height: auto;
        overflow-y: hidden;
    }

}