body {
    background-color: #2a2a2a;
    /*    background-color: #FFFAD5;*/
}

a {
    color: inherit;
    text-decoration: none;
}

/*-------COMIC PARENT TABLE --------*/

.mainContainer {
    width: 100%;
    height: 100%;
}

.comicContainer {
    margin-left: 15%;
    margin-right: auto;
    height: 550px;
    /*    width: 70%;*/
    /*    border: 1px solid black;*/
    position: relative;
    margin-top: 150px;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    border: 5px solid black;
}

.panel {
    float: left;
    height: 550px;
    width: 380px;
    background-size: 400px 550px;
    display: inline-block;
}

.middle p {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #FFF;
    margin: 10px auto;
    text-shadow: 2px 3px 0px 0px rgba(33, 28, 28, 0.75);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

}
/* BACKGROUNDS */


.panel.cloudsOne {
    background-image: url('../imgs/june_strips/charlie-cloud-a.jpg');

}

.panel.cloudsTwo {
    background-image: url('../imgs/june_strips/charlie-cloud-b.jpg');   
}

.panel.cloudsThree {
    background-image: url('../imgs/june_strips/charlie-cloud-c.jpg')   
}

.panel.sunsetOne {
    background-image: url('../imgs/june_strips/june-2-1a.jpg')
}

.panel.sunsetTwo {
    background-image: url('../imgs/june_strips/june-2-1b.jpg')
}

.panel.sunsetThree {
    background-image: url('../imgs/june_strips/june-2-1c.jpg')
}