/*--------------------BODY STYLES----------------------*/

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body {
    font-family: monospace;
    height: 100%;
    width: 100%;
    margin: 0px;
}

body.blackBkgd {
    background-color: #000;
}

/*--------------------FOOTER----------------------*/

.footer {
    position: relative;
    font-family: sans-serif;
    margin: 50px auto;
    text-align: center;
}

.footer p {
    color: #fff;
    opacity: 0.7;
    font-size: 10px;

}

/*--------------------HEADER----------------------*/

h2 {
    text-align: center;
    font-size: 3em;
    width: auto;
    font-weight: 800;
    line-height: initial;
}

/*--------------------LINK----------------------*/

a {
    color: inherit;
    text-decoration: none;
}

/*--------------------CONTAINERS----------------------*/

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.container p {
    position: relative;
}

.content {
    width: 540px;
    margin: auto;
    padding: 50px;
    overflow-y: hidden;
    text-align: justify;
    font-size: 14px;
    height: 100%;
    line-height: 130%;
}

.content.textOnly {
    margin-top: 25%;


}
.content.fixedWidth {
    width: 540px;
}

/*display text in middle of page*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.starContainer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 50px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.8);

    }
    50% {
        -webkit-transform: scale(1);

    }
    75% {
        -webkit-transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }
    25% {
        -moz-transform: scale(0.8);
    }
    50% {
        -moz-transform: scale(1);
    }
    75% {
        -moz-transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
    }
}


@-moz-keyframes moonPulse {
    0% {
        -moz-transform: scale(1);
    }
    25% {
        -moz-transform: scale(1.25);
    }
    50% {
        -moz-transform: scale(1);
    }
    75% {
        -moz-transform: scale(1.25);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-webkit-keyframes moonPulse {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.25);
    }
    50% {
        -webkit-transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
.moonButton {
    margin-top: 85px;
    margin-left: 52%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: -13px 0px 0 0 #3c3c3c;
    z-index: 5;
    position: absolute;

}

.moonButton.blink {
    animation: pulse 5s linear;
    -webkit-animation: pulse 5s linear;
    -moz-animation: pulse 5s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 1;
    
}

.moonButtonBehind {
    z-index: -5;
    opacity: 1;
    height: 28px;
    width: 32px;
    margin-top: 86px;
    position: absolute;
    border-radius: 50px;
    margin-left: 49%;
    background-color: #6a6a6a;
    display: inline-block;
    animation: moonPulse 5s linear;
    -webkit-animation: moonPulse 5s linear;
    -moz-animation: moonPulse 5s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 0.3;
}


.lowOpacity .moonButton {
    opacity: 0.3;
    
}

.constellationSideBar .moonButton {
    margin-top: 20px;
}
/*--------------------IMAGE CLASSES----------------------*/

.homeImage {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: -20%;
}

.homeImage img {
    width: 100%;
    margin-top: -200px;
}

/*--------------------TEXT FX----------------------*/

.whiteGlow {
    color: #FFF;
    text-shadow: 0 0 3px #B8E6B8, 0 0 5px #b2FFFF, 0 0 10px #E6FFE6;
}

.grayText {
    color: #808080;
}

/*--------------------PAGE SPECIFIC CLASSES----------------------*/

/*LEOPOLD'S LETTERS*/

.letter {
    background-color: #fff3dc;
    border: 1px solid #907235;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
    box-shadow: 3px 3px 10px 0px rgba(72, 72, 72, 0.8);
}

.leopoldBkgd {
    background-color: #b9b9b9;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.leopoldAlt {
    margin-top: 50px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 4px 4px 0px #898989;
}

.leopoldDreams {
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px  #fff;
    padding: 20px;
    margin-top: 100px;
}

.blurred {
    font-size: 25px;
    line-height: initial;
    text-align: center;
    letter-spacing: 2px;
/*    text-shadow: 0px 0px 10px rgba(199, 199, 199, 0.6), 0px 0px 30px rgba(199, 199, 199, 0.4), 0px 0px 50px rgba(199, 199, 199, 0.3), 0px 0px 180px rgba(199, 199, 199, 0.3);*/
    font-weight: 600;
    color: rgba(221, 221, 221, 0)
}
.moonBox {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: hidden;
}

.moonText {
    color: white;
    height: auto;
    width: 410px;
    position: relative;
    margin-top: 150px;
    padding: 10px;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    max-height: inherit;
}
#moon {
    background-image: url("../imgs/transparent_moon.png");
    background-repeat: no-repeat;
    width: 800px;
}

/*used on index.html for the typewriter linkbox*/
.typeWriterBox {
    width: 20%;
    height: 15%;
    display: block;
    position: absolute;
    top: 83%;
    left: 40%;
/*    border: 1px solid white;*/
}

/*used on intro.html for intro text*/
.content#introPage {
    color: #FFF;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

/*used on coldbeer.html for sign styling*/
.bigSign {
    color: #b4b2b2;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    line-height: 150%;
}

#candy {
    color: #ffc0cb;
    font-weight: 600;
}

/*Satellite / 'beat' pages */

.content#satellitePage {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}
/*--------------------COLD BEER SIGN & ANIMATION----------------------*/

.neontubing {
    padding: 6rem;
    text-align: center;
    color: #FFF;
    font-family: 'Comfortaa', serif;
    font-size: 11rem;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    animation: neonspark 4s 1s forwards;
    -moz-animation: neonspark 4s 1s forwards;
    -webkit-animation: neonspark 4s 1s forwards;
    line-height: initial;
}

.neontubing a:hover {
    color: inherit;
}

.neontubing span {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    animation: neonspark 4s 2s infinite;
    -moz-animation: neonspark 4s 2s infinite;
    -webkit-animation: neonspark 4s 2s infinite;
}

.neontubing h1 {
    text-decoration: none;
    font-weight: 800;
    font-size: 70px;
    letter-spacing: 15px;
}

/*neon tubing animation*/

/*<!--flickering barsign keyframe animation--> */
@keyframes neonspark {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    }
    25% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95, 0 0 30px rgba(255, 0, 84, 0.6), 0 0 20px rgba(255, 0, 84, 0.8);
    }
    50% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95, 0 0 30px rgba(255, 0, 84, 0.7), 0 0 60px rgba(255, 0, 84, 0.5);
    }
    80% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95,
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95, 0 0 30px rgba(255, 0, 84, 0.7), 0 0 60px rgba(255, 0, 84, 0.5), 0 0 100px rgba(255, 0, 84, 0.4), 0 0 90px rgba(255, 0, 84, 0.9);
    }
}

@-webkit-keyframes neonspark {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    }
    25% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95, 0 0 30px rgba(255, 0, 84, 0.6), 0 0 20px rgba(255, 0, 84, 0.8);
    }
    50% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95, 0 0 30px rgba(255, 0, 84, 0.7), 0 0 60px rgba(255, 0, 84, 0.5);
    }
    80% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95,
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95, 0 0 30px rgba(255, 0, 84, 0.7), 0 0 60px rgba(255, 0, 84, 0.5), 0 0 100px rgba(255, 0, 84, 0.4), 0 0 90px rgba(255, 0, 84, 0.9);
    }
}


@-moz-keyframes neonspark {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff2d95, 0 0 60px #ff2d95, 0 0 80px #ff2d95, 0 0 100px #ff2d95, 0 0 150px #ff2d95;
    }
    25% {
        text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff2d95, 0 0 60px #ff2d95, 0 0 80px #ff2d95, 0 0 100px #ff2d95, 0 0 150px #ff2d95, 0 0 60px rgba(255, 0, 84, 0.7), 0 0 40px rgba(255, 0, 84, 0.9);
    }
    50% {
        text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff2d95, 0 0 60px #ff2d95, 0 0 80px #ff2d95, 0 0 100px #ff2d95, 0 0 150px #ff2d95, 0 0 60px rgba(255, 0, 84, 0.8), 0 0 60px rgba(255, 0, 84, 0.6);
    }
    80% {
        text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff2d95, 0 0 60px #ff2d95, 0 0 80px #ff2d95, 0 0 100px #ff2d95, 0 0 150px #ff2d95,
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff2d95, 0 0 60px #ff2d95, 0 0 80px #ff2d95, 0 0 100px #ff2d95, 0 0 150px #ff2d95, 0 0 60px rgba(255, 0, 84, 0.8), 0 0 120px rgba(255, 0, 84, 0.6), 0 0 200px rgba(255, 0, 84, 0.5), 0 0 180px rgba(255, 0, 84, 0.9);
    }
}


@media only screen and (max-width: 500px) {

    .content { 
        width: 90%; 
        padding: 10px 0;
    }

    .content.textonly {
        width: auto;
        margin-left: 35px;
        margin-right: 35px;
    }


}


/*iPhone 6s Plus for my Monster Phone */
/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
#introPage.content { 
color: #f00 !important; 
}
}*/


