body {
    background-color: #000;
    /*    background-color: #FFFAD5;*/
}

a {
    color: inherit;
    text-decoration: none;
}

/*-------COMIC PARENT TABLE --------*/

.mainContainer {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.comicContainer {
    margin-left: 15%;
    margin-right: auto;
    height: 550px;
/*    width: 70%;*/
/*    border: 1px solid black;*/
    position: relative;
    margin-top: 150px;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    border: 5px solid white;
}

.panel {
    float: left;
    height: 550px;
    width: 380px;
    background-size: 400px 550px;
    display: inline-block;
}

.middle p {
        width: 70%;
        margin: auto;
        background-color: rgba(192,191,191, 0.9);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #2e2e2e;
        color: #2e2e2e;
        margin: 10px auto;
        box-shadow: 2px 3px 0px 0px rgba(33, 28, 28, 0.75);
        font-family: 'Slabo 27px', serif;

}

/*JUNE 1a*/
.panel.satsOne {
    background-image: url('../imgs/june_strips/june-2-2a.jpg');
}

.panel.satsTwo  {
    background-image: url('../imgs/june_strips/june-2-2b.jpg'); 
}
.panel.satsThree  {
    background-image: url('../imgs/june_strips/june-2-2c.jpg');
}

/*JUNE 1b*/
.panel.airStreamOne {
    background-image: url('../imgs/june_strips/june-airstream-a.jpg');
}

.panel.airStreamTwo {
    background-image: url('../imgs/june_strips/june-airstream-b.jpg');
}

.panel.airStreamThree {
    background-image: url('../imgs/june_strips/june-airstream-c.jpg');
}


.panel.lightsOne {
    background-image: url('../imgs/june_strips/june-lights-a.jpg')
}

.panel.lightsTwo {
    background-image: url('../imgs/june_strips/june-lights-b.jpg');
}

.panel.lightsThree {
    background-image: url('../imgs/june_strips/june-lights-c.jpg')
}

/*June 2*/
.panel.barSignOne {
    background-image: url('../imgs/june_strips/june-barsign-a.jpg');
}

.panel.barSignTwo {
    background-image: url('../imgs/june_strips/june-barsign-b.jpg');
}

.panel.barSignThree {
    background-image: url('../imgs/june_strips/june-barsign-c.jpg');
}

.panel.barStoolOne {
    background-image: url('../imgs/june_strips/june-barstools-a.jpg');
}

.panel.barStoolTwo {
    background-image: url('../imgs/june_strips/june-barstools-b.jpg');
}

.panel.barStoolThree {
    background-image: url('../imgs/june_strips/june-barstools-c.jpg');
}

/*june 3*/

.panel.campOne {
    background-image: url('../imgs/june_strips/june-camp-a.jpg');
}

.panel.campTwo {
    background-image: url('../imgs/june_strips/june-camp-b.jpg');
}

.panel.campThree {
    background-image: url('../imgs/june_strips/june-camp-c.jpg');
}

.panel.milkyWayOne {
    background-image: url('../imgs/june_strips/june-milkyway-a.jpg');
}

.panel.milkyWayTwo {
    background-image: url('../imgs/june_strips/june-milkyway-b.jpg');
}

.panel.milkyWayThree {
    background-image: url('../imgs/june_strips/june-milkyway-c.jpg');
}

/*june 4*/

.panel.winnebagoOne {
    background-image: url('../imgs/june_strips/june-winnebago-a.jpg');
}

.panel.winnebagoTwo {
    background-image: url('../imgs/june_strips/june-winnebago-b.jpg');
}

.panel.winnebagoThree {
    background-image: url('../imgs/june_strips/june-winnebago-c.jpg')
}

.panel.tableOne {
    background-image: url('../imgs/june_strips/june-table-a.jpg');
}

.panel.tableTwo {
    background-image: url('../imgs/june_strips/june-table-b.jpg');
}

.panel.tableThree {
    background-image: url('../imgs/june_strips/june-table-c.jpg');
}

.panel.desertOne {
    background-image: url('../imgs/june_strips/june-desert-a.jpg');
}

.panel.desertTwo {
    background-image: url('../imgs/june_strips/june-desert-b.jpg');
}

.panel.desertThree {
    background-image: url('../imgs/june_strips/june-desert-c.jpg');
}

/*june-5*/
.panel.satFieldOne {
    background-image: url('../imgs/june_strips/june-satfield-a.jpg');
}

.panel.satFieldTwo {
    background-image: url('../imgs/june_strips/june-satfield-b.jpg');
}

.panel.satFieldThree {
    background-image: url('../imgs/june_strips/june-satfield-c.jpg');
}

/*june-6*/

.panel.mtnDesertOne {
    background-image: url('../imgs/june_strips/june-desertmountains-a.jpg');
}

.panel.mtnDesertTwo {
    background-image: url('../imgs/june_strips/june-desertmountains-b.jpg');
}

.panel.mtnDesertThree {
    background-image: url('../imgs/june_strips/june-desertmountains-c.jpg');
}

.panel.missingOne {
    background-image: url('../imgs/june_strips/june-missing-a.jpg');
}

.panel.missingTwo {
    background-image: url('../imgs/june_strips/june-missing-b.jpg');
}

.panel.missingThree {
    background-image: url('../imgs/june_strips/june-missing-c.jpg');
}

.panel.starsOne {
    background-image: url('../imgs/june_strips/june-stars-a.png');
}

.panel.starsTwo {
    background-image: url('../imgs/june_strips/june-stars-b.png');
}

.panel.starsThree {
    background-image: url('../imgs/june_strips/june-stars-c.png')
}
/* CHARLIE STRIPS */

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
    .comicContainer {
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .panel {
        height: auto;
        min-height: 400px;
        width: 100%;
        background-size: cover; 
        margin-bottom: 10px;
    }
    
    .middle { height: 400px;}
    
    .middle p {
        font-size: 14px;
    }
    
    
}
